@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');
/* font-family: 'Fraunces', serif;
font-family: 'Montserrat', sans-serif; */

:root {
    --dark-cyan: hsl(158, 36%, 37%);
    --cream: hsl(30, 38%, 92%);
    --dark-blue: hsl(212, 21%, 14%);
    --dark-grayish-blue: hsl(228, 12%, 48%);
    --white: hsl(0, 0%, 100%);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Content */
body {
    background: var(--cream);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: var(--white);
    border-radius: 10px;
    margin: 20px;
    width: 350px;
}

header {
    background-image: url("./images/image-product-mobile.jpg");
    background-size: 100%;
    /* object-fit: contain; */
    /* border-top-left-radius: 10px; */
    /* border-top-right-radius: 10px; */
}

main {
    margin: 28px;
}

.sub-title {
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 0.75rem;
    margin-bottom: 10px;
}

h1 {
    color: var(--dark-blue);
    font-family: 'Fraunces', serif;
    line-height: 105%;
    margin-bottom: 15px;
}

p {
    font-family: 'Montserrat', sans-serif;
    color: var(--dark-grayish-blue);
    font-size: 14px;
}

.content {
    line-height: 160%;
    margin-bottom: 25px;
}

.price {
    display: flex;
    margin-bottom: 15px;
}

.sale-price {
    color: var(--dark-cyan);
    font-family: 'Fraunces', serif;
    font-size: 2rem;
    margin-right: 20px;
}

.original-price {
    text-decoration: line-through;
}

button {
    background-color: var(--dark-cyan);
    border: none;
    border-radius: 5px;
    color: var(--white);
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    padding: 10px;
    width: 100%;
}

button:hover {
    background-color: var(--dark-blue);
}

.shopping-cart {
    margin-right: 10px;
}

/* Footer */
.attribution { 
    font-size: 15px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

@media screen and (min-width: 1440px) {

    .container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 600px;
        overflow: auto;
    }

    header {
        background-image: url("./images/image-product-desktop.jpg");
        background-size: 100%;
        grid-column: 1/2;
        object-fit: cover;
    }

    main {
        grid-column: 2/3;
    }
}